canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  height: 200vh;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
}